<!DOCTYPE html>
<html lang="en" ng-app="tasksApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>


        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="app.js"></script>
    <script src="tasksCtrl.js"></script>
    <script src="tasksService.js"></script>
    <script src="tasksDirective.js"></script>

    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <main>
    <div ng-controller="tasksCtrl">
           
      

        <h1>Todos</h1>
        <!-- <label for="what-next"></label> -->
        <input id="what-next" type="text" placeholder="Whats Next ?" ng-model="needTodo">


        <button ng-click="PushMe(needTodo)">PushMe</button>

                
        <div class="btn-group btn-group-toggle mt-3" data-toggle="buttons" ng-model="filter" >
            <label class="btn btn-secondary active" ng-click="changefilter(1)">
                <input  type="radio" name="options" id="option1" autocomplete="off" > All
            </label>
            <label class="btn btn-secondary" ng-click="changefilter(2)" >
                <input  type="radio" name="options" id="option2" autocomplete="off" checked> Active
            </label>
            <label class="btn btn-secondary" ng-click="changefilter(3)" >
                <input  type="radio" name="options" id="option3" autocomplete="off"> Complete
            </label>
        </div>
        <h6 class="mt-2">{{tasksArr.length}} Items , {{completed}} complete , {{tasksArr.length-completed}} Left to do</h6>

        <div class="mt-2 tasks-list list-group">
            <div ng-repeat="task in tasksArr  | filter : filterTasks">

                <task-directive></task-directive>
            </div>
        </div>


    </div>
</main>
</body>

</html>