body{
    padding: 20px;
    background-image: url("https://media.swncdn.com/cms/CW/family/12821-to-do-list.1200w.tn.jpg");
    
}

main{
    margin: auto;
    width:400px;
    background-color: white;
    opacity: 0.9;
    padding: 50px;
    border-radius: 30px;
    
}
.delete-button{
    color:red;
    border: 0;
    background-color: white;
}

.task-label{
    width: 250px;
   
}


.task-done  {    
    text-decoration: line-through;
    color: lightgray;
  } 

/* input[type=checkbox]:checked + label {    
    text-decoration: line-through;
    color: lightgray;
  }  */

  /* input[type=checkbox]:checked ~ button {
    
   display: none;
  }  */
  .one-task  .delete-button {
      display: none;
  }
  .one-task:hover  .delete-button {
    /* display: none; */
   
    display: inline;
   
  }

  .one-task{
      
      padding: 2px;
      border-bottom: 0.1px solid gray;
      width:310px;
  }
  



 

/* 

  .icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
} */