body{
    padding: 20px;
}

.delete-button{
    color:red;
    border: 0;
    background-color: white;
}

.task-label{
    width: 250px;
   
}
input[type=checkbox]:checked + label {
    /* color: #f00; */
    /* font-style: normal; */
    font-weight: 600;
    text-decoration: line-through;
  } 
  input[type=checkbox]:checked ~ button {
    /* color: #f00; */
    /* font-style: normal; */
   color: blue;
   display: none;
  } 
  .one-task{
      padding: 2px;
      border-bottom: 0.1px solid gray;
      width:300px;
  }



  .active {
    background-color: #4CAF50 ;
}

/* 

  .icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
} */