
<div class="one-task">
                
        <label class="form-check-label task-label ml-3" ng-class="{true:'task-done', false:''}[task.taskDone]" >
                <input class="form-check-input" type="checkbox" ng-model="task.taskDone"   aria-label="ll">{{ task.taskName }}

              </label>
              <button  class="delete-button" ng-click="DeleteTheTask(task)" > <i class="fas fa-trash-alt"></i></button>


        <!-- <input id="my-checkbox" type="checkbox" value="" ng-model="task.taskDone">
        <label  for="my-checkbox" class="task-label"  >{{ task.taskName }}</label>

        <button  class="delete-button" ng-click="DeleteTheTask(task)" > <i class="fas fa-trash-alt"></i></button> -->
    </div>